<p>Preguntas totales <%= statistics.quizes %></p>
<p>Comentarios totales <%= statistics.comments %></p>
<p>Media de comentarios por pregunta <%= statistics.quizes / statistics.comments %></p>
<p>Quizes con comentarios: <%= statistics.quizesComments %></p>
<p>Comentarios sin aprobar: <%= statistics.unpublishedComments %></p>